{% extends 'home.html' %} {% load static %} {% block content %}

<!--Welcome Content-->
<div class="welcome-text-container">
    <h1 class="welcome-text">
        Unbegrenzt Filme, Serien und mehr schauen. &#127909
    </h1>
    <h2 class="welcome-text2">
        Genießen Sie NetMovie, wo und wann Sie möchten. Jederzeit kündbar !
    </h2>
    <h3 class="welcome-text3">
        Geben Sie Ihre E-Mail-Adresse ein, um Ihre Mitgliedschaft zu beginnen. &#127942
    </h3>


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card card-signin">
                <div class="card-body">
                    <form class="form-signin" method="post">{% csrf_token %}
                        <div class="d-flex flex-column pb-3">

                        </div>
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required> {% for field in login_form %}
                        <p>
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %} {% if login_form.non_field_errors %}
                        <div style="color: red">
                            <p>{{login_form.non_field_errors}}</p>
                        </div>

                        {% endif %}

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                    </form>


                </div>
            </div>

        </div>
    </div>






    {% endblock content %}