{% extends 'home.html' %} {% load static %} {% block content %}


<div class="profil-section">
    <div class="profil-section-container">

        <div class="col-md-5">
            <div class="media">
                {% if user.profile.image %}
                <img class="profile-image" id="show-dialog" src="{{  user.profile.image.url }}">{% else %}
                <img class="profile-image" id="show-dialog" src="{% static 'images\default.jpg' %}">{% endif %}
                <div class="form-group">
                    <form class="profile-form" method="post" enctype="multipart/form-data">
                        {{ p_form.image }}{% csrf_token %}
                        <div class="profile-buttons">
                            <button type="submit" class="btn btn-dark btn-lg p-2 mr-4">Bild speichern</button>
                            <button type="reset" class="btn btn-dark btn-lg p-2">Reset</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="media-body">
            <div class="profil-information">
                <div class="profil-name">
                    <h5>Name:</h5>
                    <h5 class="account-heading">&nbsp{{ user.username }}</h5>
                </div>
                <div class="profil-name">
                    <h5>Email:</h5>
                    <h5 class="profil-email"> &nbsp{{ user.email }}</h5>
                </div>
            </div>

            <div class="button-back">
                <a href="{% url 'video' %}">
                    <button class="btn btn-dark btn-lg">Zurück</button></a>
            </div>
        </div>

    </div>
</div>


{% endblock content %}