{% extends "home.html" %} {% block content %}



<main>
    <div class="bg-video">


        {% if request.user.is_authenticated %}

        <div class="video-content">

            <div class="new-releases">

                <div>
                    <h3>Neuerscheinungen</h3>
                </div>

                <div class="new-releases-movies" id="movies">
                    {% for e in movies %} {% if e.speciality == "Neuerscheinungen" %}
                    <div class="video-content-2">
                        <a href="{{ MEDIA_URL }}{{ e.video_file }}">
                            <video class="clip" id="video" width='250' muted="muted" poster="{{ MEDIA_URL }}{{ e.image_file }}">
                            <source src='{{ MEDIA_URL }}{{ e.video_file }}' type='video/mp4'>
                            </source>
                            Your browser does not support the video tag.
                        </video>
                            <br>
                        </a>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <div id="nav">
                    <button id="prev" type="button">&#8249</button>
                    <button id="next" type="button">&#8250</button>
                </div>
            </div>

            <div class="movies">
                <div>
                    <h3>Filme</h3>
                </div>

                <div class="movies-movies" id="movies">
                    {% for e in movies %} {% if e.speciality == "Filme" %}
                    <div class="video-content-2">
                        <a href="{{ MEDIA_URL }}{{ e.video_file }}">
                            <video class="clip" id="video" width='250' muted="muted" poster="{{ MEDIA_URL }}{{ e.image_file }}">
                                <source src='{{ MEDIA_URL }}{{ e.video_file }}' type='video/mp4'>
                                </source>
                                Your browser does not support the video tag.
                            </video>
                            <br>
                        </a>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <div id="nav">
                    <button id="prev2" type="button">&#8249</button>
                    <button id="next2" type="button">&#8250</button>
                </div>
            </div>

            <div class="serien">
                <div>
                    <h3>Serien</h3>
                </div>

                <div class="serien-movies" id="movies">
                    {% for e in movies %} {% if e.speciality == "Serien" %}
                    <div class="video-content-2">
                        <a href="{{ MEDIA_URL }}{{ e.video_file }}">
                            <video class="clip" id="video" width='250' muted="muted" poster="{{ MEDIA_URL }}{{ e.image_file }}">
                                    <source src='{{ MEDIA_URL }}{{ e.video_file }}' type='video/mp4'>
                                    </source>
                                    Your browser does not support the video tag.
                                </video>
                            <br>
                        </a>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <div id="nav">
                    <button id="prev3" type="button">&#8249</button>
                    <button id="next3" type="button">&#8250</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>


    <script>
        const clip = document.querySelectorAll('.clip');
        for (let i = 0; i < clip.length; i++) {
            clip[i].addEventListener('mouseenter',
                function(e) {
                    clip[i].play()
                })
            clip[i].addEventListener('mouseout',
                function(e) {
                    clip[i].pause()
                    clip[i].load();
                })
        }

        const prev = document.getElementById('prev');
        const next = document.getElementById('next');
        next.onclick = function() {
            document.getElementById('movies').scrollLeft += 400;
        };

        prev.onclick = function() {
            document.getElementById('movies').scrollLeft -= 400;
        }
    </script>
</main>
{% endblock %}