{% extends "home.html" %} {% block content %}
<!-- <script>
        $('.video').parent().click(function() {
            if ($(this).children(".video").get(0).paused) {
                $(this).children(".video").get(0).play();
                $(this).children(".playpause").fadeOut();
            } else {
                $(this).children(".video").get(0).pause();
                $(this).children(".playpause").fadeIn();
            }
        });
    </script> -->


<main>
    <div class="bg-video">


        {% if request.user.is_authenticated %}
        <div class="video-content">
            {% for e in movies %}
            <div class="video-content-2">
                <div class="video-wrap">
                    <video id="video" width='400' controls="controls">
                        <source src='{{ MEDIA_URL }}{{ e.video_file }}' type='video/mp4'>
                        </source>
                        Your browser does not support the video tag.
                    </video>
                    <br>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}


    </div>
</main>
{% endblock %}