body,
html {
    height: 100%;
}

.bg {
    background-image: url("background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-video {
    background-color: black;
    height: 100%;
    width: 100%;
}

.mdl-layout__header-row {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: unset !important;
}

.user-picture-profile {
    width: 100px;
    height: auto;
}

.mdl-dialog {
    background-color: darkgray;
}

.mdl-dialog__title {
    padding: 0px 24px 0px !important;
}

.mdl-dialog__actions {
    margin-right: 60px;
}

.mdl-layout__content {
    background-color: black;
}

.nav-link {
    margin-right: 72px;
    padding: unset !important;
    color: black !important;
}

@media (max-width: 1024px) {
    .mdl-layout__header {
        display: block !important;
    }
}

.mdl-layout-spacer {
    display: contents;
}

.logo {
    width: 80px;
    margin-left: 60px;
}

.mdl-button {
    background-color: #b7040c !important;
    right: 30px;
    color: white !important;
    font-family: "Roboto";
    font-weight: 300;
}

.btn-primary {
    background-color: #b7040c !important;
    border-color: #b7040c !important;
    font-family: "Roboto";
    margin-top: 20px;
}

.form-control {
    margin: 0.5rem !important;
}

.form-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body {
    background: rgba(51, 49, 49, 0.9);
}

.card {
    background-color: rgba(51, 49, 49, 0.9) !important;
}

.welcome-text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("background.jpg");
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
}

@media (max-width: 767.98px) {
    .welcome-text-container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .welcome-text {
        font-size: 2rem !important;
    }
    .welcome-text2 {
        font-size: 1.2rem;
    }
    .welcome-text3 {
        font-size: 1.2rem;
    }
}

.welcome-text {
    width: fit-content;
    color: white;
    font-family: "Roboto";
    font-size: 50px;
    background: rgba(51, 49, 49, 0.9);
}

.welcome-text2 {
    width: fit-content;
    color: white;
    font-family: "Roboto";
    font-weight: 300;
    background: rgba(51, 49, 49, 0.9);
}

.welcome-text3 {
    width: fit-content;
    color: white;
    font-family: "Roboto";
    font-weight: 200;
    background: rgba(51, 49, 49, 0.9);
}

.user-picture {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border-color: green;
    border-width: 5px;
}

.user-picture:hover {
    cursor: pointer;
}

.video-content {
    background-color: black;
    max-width: 100%;
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

h3 {
    color: white !important;
}

#nav {
    display: flex;
    justify-content: space-between;
    color: white !important;
}

#movies {
    overflow-x: scroll;
    overflow-y: hidden;
}

#movies::-webkit-scrollbar {
    width: 0;
}

#movies2 {
    overflow-x: scroll;
    overflow-y: hidden;
}

#movies2::-webkit-scrollbar {
    width: 0;
}

#movies3 {
    overflow-x: scroll;
    overflow-y: hidden;
}

#movies3::-webkit-scrollbar {
    width: 0;
}

.button-movies {
    opacity: 0.2;
    border-radius: 50% !important;
    padding: 0px 23px 5px 23px!important;
    font-size: 35px!important;
    border: unset !important;
}

.button-movies:hover {
    opacity: 0.8;
}

#prev {
    position: absolute;
    left: 0%;
    top: 30%;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

#next {
    position: absolute;
    right: -1%;
    top: 30%;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

#prev2 {
    position: absolute;
    left: 0%;
    top: 30%;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

#next2 {
    position: absolute;
    right: -1%;
    top: 30%;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

#prev3 {
    position: absolute;
    left: 0%;
    top: 30%;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

#next3 {
    position: absolute;
    right: -1%;
    top: 30%;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.container-content {
    position: relative;
}

.video-content-2 {
    padding: 15px;
    position: relative;
    max-height: 150px;
    max-width: 400px;
}

.new-releases {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.new-releases-movies {
    display: flex;
    flex-direction: row;
}

.movies {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.movies-movies {
    display: flex;
    flex-direction: row;
}

.serien {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.serien-movies {
    display: flex;
    flex-direction: row;
}

.image {
    width: 400px;
    height: 225px;
    position: absolute;
    z-index: 20;
    display: block;
}

.clip {
    position: relative;
}


/* Video Play Button */

.video {
    width: 100%;
    z-index: 1;
    height: 100vh;
    border: 1px solid black;
}

.wrapper {
    display: table;
    width: auto;
    position: relative;
    width: 50%;
}

.playpause {
    background-image: url("http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}


/* Profile HTML */

.border-profil {
    border: 1px solid #b7040c;
}

.profile-image {
    width: 250px;
    height: 250px;
}

.profile-buttons {
    margin-top: 20px;
}

.profil-name {
    /* margin-bottom: -20px; */
    display: flex;
    flex-direction: row;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.profil-section {
    max-width: 350px;
    border: 1px solid #b7040c;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    object-fit: cover;
}

.profil-section-container {
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.media {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center !important;
}

.media-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.profil-email {
    color: white !important;
}