body,
html {
    height: 100%;
}

.bg {
    background-image: url("background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-video {
    background-color: #2d2f33;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mdl-layout__header-row {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.mdl-layout-spacer {
    display: contents;
}

.logo {
    width: 100px;
}

.mdl-button {
    background-color: #b7040c !important;
    right: 30px;
    color: white !important;
    font-family: 'Roboto';
    font-weight: 300;
}

.btn-primary {
    background-color: #b7040c !important;
    border-color: #b7040c !important;
    font-family: 'Roboto';
    margin-top: 20px;
}

.form-signin {
    display: flex;
    flex-direction: column;
}

.user-date {
    display: flex;
    flex-direction: row;
}

.card-body {
    background: rgba(51, 49, 49, 0.9);
}

.card {
    background-color: rgba(51, 49, 49, 0.9) !important;
}

.welcome-text-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.welcome-text {
    width: fit-content;
    color: white;
    font-family: 'Roboto';
    font-size: 50px;
    background: rgba(51, 49, 49, 0.9);
}

.welcome-text2 {
    width: fit-content;
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    background: rgba(51, 49, 49, 0.9);
}

.welcome-text3 {
    width: fit-content;
    color: white;
    font-family: 'Roboto';
    font-weight: 200;
    background: rgba(51, 49, 49, 0.9);
}

.user-picture {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border-color: green;
    border-width: 5px;
}

.user-picture:hover {
    cursor: pointer;
}

.video-content {
    position: absolute;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.video-content-2 {
    padding: 10px;
}


/* Video Play Button */

.video {
    width: 100%;
    border: 1px solid black;
}

.wrapper {
    display: table;
    width: auto;
    position: relative;
    width: 50%;
}

.playpause {
    background-image: url("http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}


/* Profile HTML */

.profile-image {
    width: 180px;
    height: 180px;
}

.profile-buttons {
    margin-top: 20px;
}

.profil-name {
    margin-bottom: -20px;
    display: flex;
    flex-direction: row;
}