<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NetMovie</title>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="static/css/netvideo.css">
    <link rel="icon" href="static\images\movie-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



</head>

<body>

    <div class="bg">
        <div class="mdl-layout mdl-js-layout">
            <header class="mdl-layout__header mdl-layout__header--scroll">
                <div class="mdl-layout__header-row">
                    <!-- Title -->

                    <div class="mdl-layout-spacer">
                        {% load static %}
                        <img class="logo" src="static/images/logo.png">
                        <button class="mdl-button mdl-js-button mdl-button--raised" href="{% url 'login' %}">
                            Login
                        </button>
                    </div>
                </div>
            </header>
            <!-- Burger Menu -->
            <!--
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Title</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
            -->
            <main class="mdl-layout__content">
                <div class="page-content">

                    <!--Welcome Content-->
                    <div class="welcome-text-container">
                        <h1 class="welcome-text">
                            Unbegrenzt Filme, Serien und mehr schauen. &#127909
                        </h1>
                        <h2 class="welcome-text2">
                            Genießen Sie NetMovie, wo und wann Sie möchten. Jederzeit kündbar !
                        </h2>
                        <h3 class="welcome-text3">
                            Geben Sie Ihre E-Mail-Adresse ein, um Ihre Mitgliedschaft zu beginnen. &#127942
                        </h3>
                        <button class="mdl-button mdl-js-button mdl-button--raised" href="{% url 'register' %}">
                            Registrieren
                        </button>
                    </div>

                    {% block content %}

                    <!-- Your content goes here -->

                    {% endblock %}

                </div>
            </main>
        </div>
    </div>
</body>